.students-list {
  width: 80%;
  margin: 3rem auto;
  padding: 20px;
  border: 1px solid #007bff;
  border-radius: 8px;
  /* background-color: #f9f9f9; */
}

.students-list h2 {
  text-align: center;
  color: #007bff;
  margin-bottom: 20px;
}

.students-list ul {
  list-style-type: none;
  padding: 0;
}

.students-list li {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.students-list li strong {
  color: #007bff;
}

.students-list li:nth-child(even) {
  background-color: #f1f1f1;
}

.students-list li:hover {
  background-color: #e2e6ea;
}
